.App {
    background: linear-gradient(225deg, white 49%, #969696 50%);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.56);
    transition: all 1s linear;

}
.wrapper {
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: column;
    position: relative;
    background:linear-gradient(45deg, black 50%, rgba(255, 255, 255, 0) 50%);
}

.title {
    position: fixed;
    width: 700px;
    height: 100px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    filter: invert(1) ;
    mix-blend-mode: difference;

    display: flex;
    align-items: center;
    flex-direction: row;
}
.title h2 {
    width: 60%;
    padding-left: 30px;
    color: #000000;
    font-size: 40px;
}

.changeLang {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.changeLang span {
    margin: 0;
    cursor: pointer;
}



/*BUTTONS*/


.showTasks {
    margin-top: 100px;
    height: 65px;
    display: flex;
    border-bottom: 1px solid black;

    filter: invert(1);
    mix-blend-mode: difference;

    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}


.showTasks button {
    padding: 5px 15px;
    min-width: 80px;
    margin: 0 5px;
    cursor: pointer;

    border: 2px solid white;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    filter: invert(1) ;
    mix-blend-mode: difference;
    color: white;

    background-color: #080808;
    font-size: 15px;
    /*font-weight: bold;*/
}
/*.showTasks .doneTask {*/
/*    color: #b27fba;*/
/*}*/
/*.showTasks .active {*/
/*    color: #ea9887;*/
/*}*/
/*.showTasks .clear {*/
/*    color: black;*/
/*    background: linear-gradient(to bottom, #2af9ff, #82ffe7);*/
/*}*/
.showTasks button:hover {
    transform: translateY(5px);
}



/*CONTENT*/



.tasksContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    mix-blend-mode: difference;
}

.tasksContent::-webkit-scrollbar {
    width: 10px;
}

.tasksContent::-webkit-scrollbar-track {
    background-color: #282828;
    box-shadow: inset 0 0 3px black;

}

.tasksContent::-webkit-scrollbar-thumb {
    background: linear-gradient(75deg, #b3b3b3, #757575);
    box-shadow: inset 1px 0 4px rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
}

.diagram {
    height: 80px;
    width: 80px;
    margin: 0 30px 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.50);
}

.tasksList {
    padding: 5px 20px 5px 30px;
    margin: 0;
    border-bottom: 1px solid silver;
    font-size: 25px;
    display: flex;
    flex-direction: row;
}

.taskItem {
    width: 85%;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}
.complete {
    box-shadow: inset 0 0 5px black;
    background-color: rgba(224, 224, 224, 0.1);
    border: none;
    border-bottom: 1px solid silver;

}

.complete p {
    color: #6b6b6b;
    text-decoration: line-through;
}
.tasksTitle {
    font-size: 17px;
    overflow-x: hidden;
}
.input {
    width: 80%;
    border: none;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 1px 10px;
    -webkit-appearance: none;
}





/*status*/

.material-icons {
    font-size: 30px !important;
}

.taskItem .done, .notDone {
    padding: 0 10px;
    cursor: pointer;
}
.deleteTask {
    color: #05d9d2 !important;
    cursor: pointer;
    margin: auto;
}
.deleteTask:hover {
    color: #004f4d !important;
}
.done {
    color: #1b8600 !important;
}
.notDone {
    color: #bf0000 !important;
}

.edit {
    margin: auto;
    cursor: pointer;
    color: white;
}
.edit:hover {
    color: #a7a7a7;
}






/* footer*/

.taskinput {
    position: relative;
    height: 100px;
    margin-bottom: 10px;
}


.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 36px;
    background: #ffffff;
    line-height:40px;
    padding: 0 0 0 10px;
    border-radius: 60px;
    color: black;

    display: flex;
    align-items: center;
}
.search-input{
    background: #ffffff;
    color: #000000;
    outline: none;
    border: none;
    line-height:24px;
    width: 0px;
    float: left;
    font-size:14px;
    transition: 0.7s ease;
    font-family:sans-serif;
}
.search-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    background: #000000;
    padding: 17px;
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid silver;
    float: right;
    transition: 0.4s ease;
    position: relative;
}

.search-btn:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 25%;
    height: 2px;
    width: 18px;
    background: #fff;
    transform: rotate(90deg);
}
.search-btn:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 25%;
    height: 2px;
    width: 18px;
    background: #fff;
}

.search-box:hover > .search-input{
    width: 240px;
    margin: 0px 8px;
}
.search-input:focus{
    width: 240px;
    margin: 0px 8px;
}
.search-box:hover > .search-btn{
    background: #fff;
    border: 1px solid white;
}
.search-box:hover > .search-btn:after{
    background: #000000;
}
.search-box:hover > .search-btn:before{
    background: #000;
}
.search-input:focus + .search-btn:after{
    background: #000;
}
.search-input:focus + .search-btn:before{
    background: #000;
}
.search-input:focus + .search-btn{
    background: #fff;
    border: 1px solid white;
}

@media (max-width: 540px) {
    .App {
        border-radius: 0;
        background: linear-gradient(250deg, white 48%, #969696 50%);
    }
    .wrapper {
        height: 100vh;
        width: 100vw;
        background: linear-gradient(70deg, black 50%, rgba(255, 255, 255, 0) 50%);
    }
    .title {
        margin-top: 55px;
    }
    .title h2 {
        width: 32%;
    }
    .diagram {
        margin: 0;
    }
    .showTasks {
        margin-top: 165px;
        height: 75px;
    }
    .showTasks button {
        font-size: 13px;
    }
    .tasksList {
        padding: 5px 20px 5px 15px;
    }
    .taskItem {
        width: 80%;
    }
    .search-box {
        height: 50px;
    }
    .search-btn {
        padding: 23px;
    }
    .search-box:hover > .search-input {
        width: 170px;
    }
    .search-btn:before {
        left: inherit;
        width: 25px;
    }
    .search-btn:after {
        left: inherit;
        width: 25px;
    }
    .taskinput {
        margin-bottom: 70px;
    }
}